<div class='center-content'>
  <h2><%= @recipe_info['title'] %></h2>
  <%= image_tag("http://webknox.com/recipeImages/#{@recipe_info['id']}-556x370.jpg", class: "img-responsive") %>
</div>
<div class='center-content'>
  <h2>Ingredients</h2>
  <div class='ingredients'>
    <% @recipe_info['extendedIngredients'].each do |ingredient| %>
      <div>
        <% if ingredient['originalString'] %>
          <%= ingredient['originalString'] %>
        <% else %>
          <%= "#{ingredient['amount']} #{ingredient['unit']} #{ingredient['name']}" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <h2>Instructions</h2>
    <%= link_to("Click Here for instructions", @recipe_info['sourceUrl'], class: 'button btn-green') %>
  </div>
</div>

<div class="average-rating">
  <%= display_rating(@recipe.ratings.average(:stars).to_i, 'Average') %>
</div>

<div>
  <h3>Comments:</h3>
  <% if @comments %>
  <ul class='comments'>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment, recipe: @recipe} %>
    <% end %>
  </ul>
  <% else %>
    <p>There don't seem to be any comments! Login and leave yours!</p>
  <% end %>
</div>

<div class="new-user-rating">
  <%= display_user_rating(@recipe) %>
</div>

<div class='new-comment-form'>
  <% if current_user %>
    <%= render partial: 'comments/form' %>
  <% end %>
</div>
