<div class='row'>
  <div>
    <%= image_tag("http://webknox.com/recipeImages/#{@recipe['id']}-556x370.jpg", class: "img-responsive col-md-5") %>
  </div>
  <div class='col-md-6'>
    <h2><%= @recipe['title'] %></h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <h1>Ingredients</h1>
    <% @recipe['extendedIngredients'].each do |ingredient| %>
      <div><%= ingredient['name'] %> <%= ingredient['amount'] %> <%= ingredient['unit'] %></div>
    <% end %>
  </div>
  <div class='col-md-11'>
    <h2>Instructions</h2>
    <%= @recipe['sourceUrl'] %>
  </div>
</div>
