<div class='center-content'>
  <h2><%= @recipe_info['title'] %></h2>
  <%= image_tag("http://webknox.com/recipeImages/#{@recipe_info['id']}-556x370.jpg", class: "img-responsive") %>
</div>
<div class='center-content'>
  <div class='ingredients'>
    <h2>Ingredients</h2>
    <% @recipe_info['extendedIngredients'].each do |ingredient| %>
      <div><%= ingredient['name'] %> <%= ingredient['amount'] %> <%= ingredient['unit'] %></div>
    <% end %>
  </div>
  <div>
    <h2>Instructions</h2>
    <%= link_to("Click Here for instructions", @recipe_info['sourceUrl'], class: 'button button-to-instructions') %>
  </div>
</div>

<div>
  <h3>Comments:</h3>
  <% if @comments %>
  <ul>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment, recipe: @recipe} %>
    <% end %>
  </ul>
  <% else %>
    <p>There don't seem to be any comments! Login and leave yours!</p>
  <% end %>
</div>


<div class='new-comment-form'>
  <% if current_user %>
    <%= render partial: 'comments/form' %>
  <% end %>
</div>
