<% if @new_taste_profile %>
  <%= form_for @user do |f| %>
    <%= f.hidden_field :bitter, value: @new_taste_profile.bitter %>
    <%= f.hidden_field :earthy, value: @new_taste_profile.earthy %>
    <%= f.hidden_field :grassy, value: @new_taste_profile.grassy %>
    <%= f.hidden_field :licorice, value: @new_taste_profile.licorice %>
    <%= f.hidden_field :nutty, value: @new_taste_profile.nutty %>
    <%= f.hidden_field :peppery, value: @new_taste_profile.peppery %>
    <%= f.hidden_field :sour, value: @new_taste_profile.sour %>
    <%= f.hidden_field :spicy, value: @new_taste_profile.spicy %>
    <%= f.hidden_field :sweet, value: @new_taste_profile.sweet %>
    <%= f.hidden_field :woody, value: @new_taste_profile.woody %>
    <%= f.submit "Calculate Your Taste Profile", id: "taste-profile" %>
  <% end %>
<% end %>

<div id="highcharts" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
  <div class="row">
    <div id='tab-1-content' class='col-md-5'></div>
  </div>
</div>
