Dietary restrictions:

  <%= form_tag(user_nutritional_profile_path(current_user,current_user.nutritional_profile),  method: "put") do %>
  <% @restrictions.each do |restriction| %>
    <%= label_tag(:restriction, restriction.name) %>
    <%= check_box_tag("[restriction][]", restriction.id) %>
  <% end %>
    <%= submit_tag %>
  <% end %>
<br>
Preferred cuisine styles:<br>
<% @cuisine_styles.each do |cuisine| %>
  <p><%= cuisine.name %></p>
<% end %>
<br>
Excluded ingredients:<br>
<% @excluded_ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
<% end %>
