Nutritional Profile Info:
<%= render partial: "form" %>
<br>

<br>
<%= link_to 'Edit Nutritional Profile', new_user_nutritional_profile_path %>

<br>
<h3>Your Tastes:</h3>
<p>bitter: <%= @new_taste_profile.bitter %></p>
<p>earthy: <%= @new_taste_profile.earthy %></p>
<p>grassy: <%= @new_taste_profile.grassy %></p>
<p>licorice: <%= @new_taste_profile.licorice %></p>
<p>nutty: <%= @new_taste_profile.nutty %></p>
<p>peppery: <%= @new_taste_profile.peppery %></p>
<p>sour: <%= @new_taste_profile.sour %></p>
<p>spicy: <%= @new_taste_profile.spicy %></p>
<p>sweet: <%= @new_taste_profile.sweet %></p>
<p>woody: <%= @new_taste_profile.woody %></p>


<div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
  <div class="row">
    <div id='tab-1-content' class='col-md-5'></div>
  </div>
</div>
