<div class='profile'>
	<div class='tab active'>
    <%= link_to "Restrictions", 'restrictions' %>
  </div>
	<div class='tab'>
    <%= link_to "Taste Profile", 'taste_profile' %>
  </div>
	<div class='tab'>
    <%= link_to "Favorites", 'favorites' %>
  </div>

  <div class='container-fluid'>

    <div class="row">

      <div class='sheet' id='restrictions'>
        <%= render partial: 'nutritional_profiles/form' %>
      </div>

      <div class='hidden sheet' id='taste_profile'>
        <% if @new_taste_profile %>
          <%= render partial: 'taste_profiles/taste_profile_show' %>
        <% else %>
          <%= render partial: 'no_profile' %>
        <% end %>
      </div>

      <div class='hidden sheet' id='favorites'>
        <ul>
          <%= render partial: 'favorites/index' %>
        </ul>
      </div>

    </div>

  </div>

</div>
