<div class='container'>
	<div class='row'>
		<div class='col-md-2 tab active'>
      <%= link_to "Restrictions", 'tab1' %>
    </div>
		<div class='col-md-2 tab'>
      <%= link_to "Taste Profile", 'tab2' %>
    </div>
		<div class='col-md-2 tab'>
      <%= link_to "Tab 3", 'tab3' %>
    </div>
	</div>
</div>

<div class='container-fluid'>

  <div class="row">

    <div class='sheet' id='tab1'>
      <%= render partial: 'nutritional_profiles/form', locals: {nutritional_profile: @nutritional_profile, dietary_restrictions: @dietary_restrictions, user_excluded_ingredients: @user_excluded_ingredients} %>
    </div>

    <div class='hidden sheet' id='tab2'>
      TAB2
      <% if @new_taste_profile %>
        <%= render partial: 'taste_profiles/taste_profile_show' %>
      <% else %>
        <%= render partial: 'no_profile' %>
      <% end %>
    </div>

    <div class='hidden sheet' id='tab3'>
      TAB3
    </div>

  </div>

</div>

