<div class='container'>
	<div class='row'>
		<div class='col-md-1 tab active'>
      <%= link_to "Tab 1", 'tab1' %>
    </div>
		<div class='col-md-1 tab'>
      <%= link_to "Tab 2", 'tab2' %>
    </div>
		<div class='col-md-1 tab'>
      <%= link_to "Tab 3", 'tab3' %>
    </div>
	</div>
</div>

<div class='container-fluid debugger'>

  <div class="row">

    <div class='debugger sheet' id='tab1'>
      TAB1
    </div>

    <div class='hidden debugger sheet' id='tab2'>
      TAB2
      <%= form_for @user do |f| %>
        <%= f.hidden_field :bitter, value: @new_taste_profile.bitter %></p>
        <%= f.hidden_field :earthy, value: @new_taste_profile.earthy %></p>
        <%= f.hidden_field :grassy, value: @new_taste_profile.grassy %></p>
        <%= f.hidden_field :licorice, value: @new_taste_profile.licorice %></p>
        <%= f.hidden_field :nutty, value: @new_taste_profile.nutty %></p>
        <%= f.hidden_field :peppery, value: @new_taste_profile.peppery %></p>
        <%= f.hidden_field :sour, value: @new_taste_profile.sour %></p>
        <%= f.hidden_field :spicy, value: @new_taste_profile.spicy %></p>
        <%= f.hidden_field :sweet, value: @new_taste_profile.sweet %></p>
        <%= f.hidden_field :woody, value: @new_taste_profile.woody %></p>
        <%= f.submit "Calculate Your Taste Profile", id: "taste-profile" %>
      <% end %>

      <div id="highcharts" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
    </div>

    <div class='hidden debugger sheet' id='tab3'>
      TAB3
    </div>

  </div>

</div>