<div class='row center-content'>
  <h1 class='title-text'>WhatzCookin</h1>

	<div>
		<%= flash[:error] %>
	</div>
	<%= form_tag('/retrieve_recipes')  do %>
		<div>
			<%= text_field_tag('ingredient', "", size: 40, autofocus: true, autocomplete: :off, class: 'search-box') %>
		</div>
		<div class='row'>
			<%= submit_tag 'Find a recipe', class: 'find-a-recipe col-md-5 btn-red' %>
	<% end %>
		<%= link_to("I'm still feeling hungry", '/random_recipe', class: 'im-feeling-hungry button btn-orange') %>
		</div>
</div>
