<h3><%= "#{@option}" %> Rating:</h3>
<input name="star<%= @option %>" type="radio" class="star"/>
<input name="star<%= @option %>" type="radio" class="star"/>
<input name="star<%= @option %>" type="radio" class="star"/>
<input name="star<%= @option %>" type="radio" class="star"/>
<input name="star<%= @option %>" type="radio" class="star"/>
