<!DOCTYPE html>
<html>
<head>
  <title>WhatzCookin</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class='navbar'>
      <%= link_to "WhatzCookin", root_path, class: 'logo-text' %>
      <ul>
        <% if user_signed_in? %>
        <li>
          <% if current_user.nutritional_profile %>
            <%= link_to "NutritionProfile", user_nutritional_profile_path(current_user,current_user.nutritional_profile) %>
          <% else %>
            <%= link_to "NutritionProfile", user_nutritional_profiles_path(current_user), :method => :post %>
          <% end %>
        </li>|
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li>Signed in as <%= current_user.name %>. Not you?</li>
        <li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>|
        <li><%= link_to "Sign in", new_user_session_path %> </li>|
        <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div class='container' id="content">
    <%= yield %>
  </div>

  <footer class='center-content'>
    <div>
      &copy; The Dream Team
    </div>
  </footer>
</body>
</html>
