<!DOCTYPE html>
<html>
<head>
  <title>WhatzcookinRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class='navbar navbar-default'>
      <ul>
      <% if user_signed_in? %>
      <li>Signed in as <%= current_user.name %>. Not you?</li>
      <li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
      <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li>|
      <li><%= link_to "Sign in", new_user_session_path %> </li>|
      <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
      <% end %>
      </ul>
    </nav>
  </header>
  <div class='container center-content page-wrap'>
    <h1 class='logo-text'>WhatzCookin</h1>
    <%= yield %>
  </div>

  <footer class='center-content'>
    &copy; The Dream Team    
  </footer>
</body>
</html>
