<!DOCTYPE html>
<html>
<head>
  <title>WhatzCookin</title>
  <%= favicon_link_tag 'favicon-g.ico' %>
  <meta name="viewport" content="width=device-width" />
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <nav class='navbar debugger'>
          <div class='visible-xs col-xs-offset-8 col-sm-offset-8 nav-menu'>☰ Menu</div>
          <%= link_to root_path, class: 'col-md-2' do %>
            <%= image_tag('small-logo-white.png') %> <span class='home-button'>Home</span>
          <% end %>
          <ul class='col-xs-offset-4 col-md-10 text-right nav-list'>
            <% if user_signed_in? %>
            <li>
              <%= link_to "Profile", user_path(current_user) %>
              <i class="fa fa-user"></i>
            </li>
            <span class='hidden-xs'>|</span>
            <li class='hidden-xs signed-in-as'>Signed in as <%= current_user.name %>. Not you?</li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
              <i class="fa fa-sign-out"></i>
            </li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <span class='hidden-xs'>|</span>
            <li>
              <%= link_to "Sign in", new_user_session_path %> 
              <i class="fa fa-sign-in visible-xs"></i>
            </li>
            <span class='hidden-xs'>|</span>
            <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </div>
  <div class='container-fluid' id='content'>
    <%= yield %>
    <span class="visible-xs">SIZE XS</span><span class="visible-sm">SIZE SM</span><span class="visible-md">SIZE MD</span><span class="visible-lg">SIZE LG</span>
  </div>
  <div class="push"></div>
  <footer>
    <div class='row'>
      <div class='text-center col-xs-12 col-md-12'>
        &copy; The Dream Team
      </div>
    </div>
  </footer>
</body>
</html>