<!DOCTYPE html>
<html>
<head>
  <title>WhatzCookin</title>
  <%= favicon_link_tag 'favicon-g.ico' %>
  <meta name="viewport" content="width=device-width" />
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <nav class='navbar'>
        <div class="btn-group btn-breadcrumb visible-xs">

            <a href="/" class="btn btn-success"><i class="fa fa-home"></i></a>
            <a href="/users/sign_in" class="btn btn-success">Sign In </a>
            <a href="/users/sign_up" class="btn btn-success">Sign Up  <i class="fa fa-user-plus"></i></a>
            <a href="/users/auth/google_oauth2" class="btn btn-success"><i class="fa fa-google"></i>oogle Sign In</i>
          </a>
        </div>
      </div>
    </header>
  </div>
  <div class='container-fluid' id='content'>
    <%= yield %>
    <span class="visible-xs">SIZE XS</span><span class="visible-sm">SIZE SM</span><span class="visible-md">SIZE MD</span><span class="visible-lg">SIZE LG</span>
  </div>
  <div class="push"></div>
  <footer>
    <div class='row'>
      <div class='text-center col-xs-12 col-md-12'>
        &copy; The Dream Team
      </div>
    </div>
  </footer>
</body>
</html>
